body{
	background: none;
	margin:0;
}

#imgurListContainer{
	position: relative;
	float:left;
	width:100vw;
	height:100vh;
}
.imgurImgContainer{
	position: relative;
	width:100%;
	height:auto;
	overflow:hidden;
	/*margin:100px 0 10px 0;*/
}
.imgurImg{
	postition:relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
}

#rain_canvas{
	position:fixed !important;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	z-index:2;
}